.kaydol{
   width: 80%;
  color: white;
  background-color:#140508;
  display: inline-block;
  background-color:#FFD700;
  padding: 12px 20px;
  border-radius: 12px;
}
.girisdiv{
  width: 50%;
  color: white;
  background-color:	#000000;
  background-color: width: 50%;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 12px;
}
.giris{
   width: 70%;
  color: black;
  background-color:#B22222;
  background-color: width: 70%;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 12px;
}
input[type=text] {
    width: 75%;
  margin-left: auto;
  margin-right: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.tamam{
   width: 75%;
    background-color: #100000; /* Green */
    border: none;
    color: yellow;
    padding: 25px 50px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  border-radius: 12px;
}
select{
   width: 75%;
  background-color: #112223;
   border: none;
   color: white;
   padding: 25px 40px;
   text-align: center;
   text-decoration: none;
  display: inline-block;
   font-size: 16px;
}
.tual {
  width: 960px;
  margin:0 auto;
  background-color: black;
  padding: 30px;
  border-radius: 42px;
}
.sol_menu {
  text-align: center;
  border-radius: 32px;
  width: 300px;
  height: 740px;
  float:left;
  background-color: red;
}
.sag_icerik {
  width: 600px;
  height: 680px;
  border-radius: 32px;
  float:left;
  background-color: white;
  padding: 30px;
}

.sag_icerik_ust {
  text-align:center;
  height: 250px;
  width:600px;
  background-color: gold;
    border-radius: 12px;
  margin-top:2%;
  margin-bottom: 1px;
  margin-left: 1%;
  margin-right:0%;
}
.sss{
  background-color: #eff1f1;
padding: 10px 10px;
color: #100e0e;
 font-size: 10%;
  text-align:center;

}
.sag_icerik_alt {
  height: 300px;
  width:560px; b
  ackground-color: red;
  padding: 20px;
   margin-top:0%;
  margin-left: 1%;
  margin-right:0%;
}
.text{
background-color: #eff1f1;
padding: 10px 50px;
color: #100e0e;
 font-size: 160%;
  text-align:center;
}
.buttondelete{
  background-color:	#96000;
  margin-right: 1px;
padding: 15px 40px;
  font-size: 140%;
    color:black;
}
.button3{
background-color: #ad0e00;
  margin-right: 5px;
  margin-bottom: 10px;
padding: 15px 50px;
  font-size: 160%;
    color:white;

}
.button4{
background-color: #563b3a;
  margin-bottom: 10px;
padding: 15px 50px;
  font-size: 140%;
  margin-right: 8px;
  color:white;
}

.button5{
background-color: black;
  margin-bottom: 10px;
padding: 15px 50px;
  margin-right: 8px;
  font-size: 140%;
    color:white;
}
.div{
  margin-top:1%;
  margin-left: 2%;
  margin-right:2%;
  background-color: #fb200c;
  border-radius: 12px;
  padding: 1px 2px;
  text-align:center;
  color: black;
  font-size: 50%;
}
.alt{
  margin-left: 7%;
  margin-right:7%;
  text-align:center;
  border-radius: 82px;
  background-color:#A52A2A;
  padding: 5px 10px;
}
